name: Pull request check

on:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Lint Dockerfile
        run: docker run --rm -v $(pwd):/work hadolint/hadolint:latest-alpine hadolint /work/Dockerfile

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (dry run)
        uses: docker/build-push-action@v5
        with:
          push: false
          load: true
          tags: test
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Save image to tar
        run: docker save test -o ${{ github.event.repository.name }}.tar

      - name: Image security check
        run: |
          docker run --rm -v $(pwd):/work aquasec/trivy:latest image --exit-code 0 --severity UNKNOWN,LOW,MEDIUM --input /work/${{ github.event.repository.name }}.tar
          docker run --rm -v $(pwd):/work aquasec/trivy:latest image --exit-code 1 --severity HIGH,CRITICAL --input /work/${{ github.event.repository.name }}.tar