name: Build image and push to GHCR

on:
  push:
    branches: [main]
    tags: ['*']

permissions:
  contents: read
  packages: write

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Set image tags
        id: meta
        run: |
          if [ "${{ github.ref_type }}" == "tag" ]; then
            VERSION="${{ github.ref_name }}"
            MAJOR_MINOR=$(echo "$VERSION" | cut -d. -f1,2)
            MAJOR_MINOR_PATCH=$(echo "$VERSION" | cut -d- -f1)
      
            echo "tags=ghcr.io/${{ github.repository }}:latest,\
              ghcr.io/${{ github.repository }}:${VERSION},\
              ghcr.io/${{ github.repository }}:${MAJOR_MINOR},\
              ghcr.io/${{ github.repository }}:${MAJOR_MINOR_PATCH}" >> $GITHUB_OUTPUT
          else
            echo "tags=ghcr.io/${{ github.repository }}:edge" >> $GITHUB_OUTPUT
          fi

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
